*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgba(238, 246, 248, 0.61);
  font-size: 19px;
  font-family: palatino;
  line-height: 140%;
}

header{
  background-image: url(../img/movie-night.jpeg);
  background-size: cover;
  height: 220px;
}

.container{
  margin: 0 1%
}

.title{
  font-family: "Arial Black", Gadget, sans-serif;
  margin-top: 0;
  font-size: 4.5rem;
  color: rgb(235, 248, 197);
  text-align: center;
  padding-top: 65px;
  text-shadow: 6px 3px 4px rgba(0,0,0,0.48);
}

h2{
  font-size: 1.2rem;
  margin: 40px 0 0 20px;
}

em{
  font-size: .9rem;
  font-weight: 100;
}

.link{
  color: #8E24AA;
}

.JSONkey{
  color: #D50000;
}

.JSONvalue{
  color: #303F9F;
}

.JSONvalue2{
  color: #00695C;
}

table {
  border-collapse: collapse;
  width: 100%;
  display: inline-block;
  margin: 20px 20px;
  font-size: 17px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddde1;
}

.dataFormatTable{
  line-height: 150%
}

footer {
	margin-top: 40px;
	text-align: center;
	width: 100%;
  font-size: 14pt;
}

.CTA{
	font-family:  Courier;
	margin-bottom: 5px;
}

.socialIcon{
	height: 67px;
	padding: 5px 15px 5px 15px;
}


@media all and (max-width: 720px) {
  body{
		font-size: 11pt;
  }

  .title{
    font-size: 2.7em;
    line-height: 120%
  }

  tbody{
		font-size: 10pt;
  }
  em{
    font-size: 9pt;
  }
}
