$primary-color: #5C6BC0;
$secondary-color: white;
$tertiary-color: #1ea896;
$primary-font:'Ubuntu', sans-serif;

.card {
  margin-top: 30px;
  background-color: $primary-color;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border: none;
  color: $secondary-color;
  height: auto;
  padding: 15px;
}

.card-text{
  font-size: 15px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.2em;
}

.card-title {
  color: $tertiary-color;
}

.card-img-top{
  height: 450px;
}

.btn {
  width: 150px;
  margin: 20px 0;
}

.btn-primary {
  background-color: transparent;
  border-color: $tertiary-color;
  border-width: 2px;
  color: $secondary-color;
}

.btn-primary:active {
  background-color: $secondary-color;
}

.btn-primary:hover {
  background-color: $tertiary-color;
  border-color: $tertiary-color;
}

@media only screen and (max-width: 500px) {
  .card{
    padding: 3px;
  }

  .card-body {
    display: none;
  }

  .card-img-top {
    border-radius: 3px;
    height: 300px;
  }
}
