$primary-color: #5C6BC0;
$secondary-color: white;
$tertiary-color: #1ea896;
$primary-font:'Ubuntu', sans-serif;


.movie-view {
  font-family: 'Ubuntu', sans-serif;
  background-color: $primary-color;
  margin: 50px auto;
  max-width: 700px;
  padding: 20px;
  color: $secondary-color;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.view-btn {
  width: 120px;
  margin: 10px 10px;
}

.btn-primary {
  background-color: transparent;
  border-color: $tertiary-color;
  border-width: 2px;
  color: $secondary-color;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: $tertiary-color;
  border-color: $tertiary-color;
}

.movie-title{
  text-align: center;
}

.movie-poster {
  width: 70%;
  margin: 20px auto;
  display: block;
}

.label {
  color: $tertiary-color;
  font-size: 1.5rem;
}
