$primary-color: #5C6BC0;
$secondary-color: white;
$tertiary-color: #1ea896;
$primary-font:'Ubuntu', sans-serif;


.main-view {
  padding: 5px;
}

.appName{
  padding-top: 20px;
  text-align: center;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 5rem;
}

.navbar {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.navbar button {
  background-color: $tertiary-color;
  border: none;
  border-radius: 3px;
  font-family: $primary-font;
  color: $secondary-color;
  font-size: 15px;
  padding: 6px;
  margin: 0 10px;
  outline: $tertiary-color;
}

.container {
  margin-bottom: 50px;
}
