$primary-color: #5c6bc0;
$secondary-color: white;
$tertiary-color: #1ea896;
$primary-font: "Ubuntu", sans-serif;

.main-view {
  padding: 5px;
}

header {
  background-color: #5c6bc0;
  height: 130px;
}

.appName {
  color: #fff;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 5rem;
  position: relative;
  top: -50px;
  margin-left: 40%;
}

.appName:hover,
.appName:active {
  color: rgba(255, 255, 255, 0.582);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar button {
  background-color: $tertiary-color;
  border: none;
  border-radius: 3px;
  font-family: $primary-font;
  color: $secondary-color;
  font-size: 15px;
  padding: 6px;
  margin: 0 10px;
  outline: $tertiary-color;
  position: relative;
  top: 20px;
}

.container {
  margin-bottom: 50px;
}

// MOBILE VIEW
@media all and (max-width: 720px) {
  header {
    height: 90px;
  }

  .appName {
    font-size: 3rem;
    top: -40px;
    left: 10px;
  }

  .navbar button {
    font-size: 13px;
    padding: 4px;
    margin: 0 5px;
    position: relative;
    top: 20px;
  }
}
