$primary-color: #5C6BC0;
$secondary-color: white;
$tertiary-color: #1ea896;
$primary-font:'Ubuntu', sans-serif;


.profile-view {
  max-width: 700px;
  margin: 10px auto;
  background-color: $primary-color;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  color: $secondary-color;
  font-size: 1.3rem;
  line-height: 35px;
}
  
.profile-view .btn {
  width: 160px;
}

.changeDataForm {
  margin-top: 30px;
  display: none;
  border-top: 1px solid $tertiary-color;
}

span{
  color: $tertiary-color;
  font-size: 15px
}

span:hover{
  color: rgb(155, 2, 2);
}

.show-form {
  display: inherit;
  position: relative;
  animation: formSlideDown .3s ease-in;
}

@keyframes formSlideDown {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
