$primary-color: navy;
$primary-color-transparent: rgba(17, 17, 182, 0.582);
$secondary-color: lightgrey;
$tertiary-color: #1ea896;

.main-view {
  padding: 5px;
}

.container {
  margin-bottom: 50px;
}

.navbar {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.navbar button {
  background-color: $primary-color-transparent;
  border: none;
  border-radius: 3px;
  font-family: 'Ubuntu', sans-serif;
  color: $secondary-color;
  font-size: 15px;
  padding: 6px;
  margin: 0 10px;
}

.navbar img {
  width: 16px;
  margin-left: 5px;
  padding-bottom: 3px;
}
