$primary-color: #3737f3de;
$secondary-color: white;
$tertiary-color: #1ea896;
$primary-font:'Ubuntu', sans-serif;


.director-view {
  max-width: 700px;
  margin: 10px auto;
  background-color: $primary-color;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  color: $secondary-color;
}

.director-view h1, h3 {
  color: $tertiary-color;
}
